.fondo{
    background-color: brown;
}
.texto{
    color: white;

}
.titulo{
    text-align: center;
}
.fuente{ font-family: 'Oswald', sans-serif;

}
.fuente2{
    font-family: 'Titillium Web', sans-serif;
}

